.logo-area {
  max-width: 100px !important;
  max-height: 100px !important;
  width: 50px !important;
  height: 50px !important;
  position: absolute;
  left: 50%;
  top: 0;
  content: "";
  margin-left: -75px;
  text-align: center;
}
